<form method="POST" role="form" action="./game">
  <div class="form-group">
    <label for="name">名前</label>
    <input type="text" name="name" id="name">
  </div>
  <div class="form-group">
    <label for="uploadImageFile">画像ファイル</label>
    <input type="file" name="file" id="uploadImageFile">
  </div>
  <button type="submit" class="btn btn-default">Submit</button>
</form>
