<!DOCTYPE html>
<html lang="ja">
  <head>
    <title>佐村河内を探せ</title>
    <meta charset=utf-8 />
    <link href="/css/bootstrap.css" rel="stylesheet">
    <link href="/css/default.css" rel="stylesheet">
  </head>
  </head>
  <body>
    <div class="container">
      <h1>佐村河内を探せ</h1>
      <%= yield %>
    </div>
    <script src="/js/jquery-1.11.1.js"></script>
    <script src="/js/bootstrap.js"></script>
  </body>
</html>
